@import './../../../../styles/mixins/breakpoint';
.article {
  cursor: pointer;
  width: 300px;
  min-height: 425px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 12px;
  transition: 0.3s;

  @include mobile {
    padding: 10px 0;
    min-height: 400px;
    height: 400px;
    width: 260px;
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: 4px 6px 13px rgba(215, 215, 215, 0.25);
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    @include mobile {
      padding: 0 10px;
    }
  }
  &__banner {
    margin-bottom: 25px;
    @include mobile {
      margin-bottom: 10px;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;

    color: var(--text-color);
    @include mobile {
      padding: 10px;
    }
  }
}
.author {
  display: flex;
  align-items: center;
  gap: 15px;
  &__name {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
  }
  &__time {
    align-self: end;
    padding-bottom: 8px;
  }
  &__date,
  &__time {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;

    color: var(--text-color);
  }
}
