@import './../../../../../styles/mixins/breakpoint';
.interactions {
  padding: 2em;
  padding-left: 0;
  padding-bottom: 0;
  @include tablet {
    max-width: 920px;
    padding: 0.5rem 1rem;
  }
  &__list {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include tablet {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
.interaction {
  position: relative;
  cursor: pointer;
  display: block;
  &__picture {
    position: relative;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  &__count {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
  }
  &:hover {
    .tooltip__content,
    .tooltip__arrow {
      opacity: 1;
    }
  }
}
.tooltip {
  position: relative;
  top: -60px;
  &__title {
    padding: 0.5em 1em;
    display: block;
    font-weight: 400;
    font-size: 18px;
  }
  &__arrow {
    transition: opacity 0.2s linear;
    /* Invisible by default */
    opacity: 0;

    /* To prevent accidental interactions with other elements  */
    pointer-events: none;

    /* Border */
    border: 0.5rem solid transparent;
    border-top-color: #111827;

    /* Position */
    bottom: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 8px);

    /* Zero size */
    height: auto;
    width: auto;

    /* Displayed on top of other element */
    z-index: 10;
  }
  &__content {
    transition: opacity 0.2s linear;
    /* Invisible by default */
    opacity: 0;

    /* To prevent accidental interactions with other elements  */
    pointer-events: none;

    /* Background color, must be the same as the border color of arrow */
    background-color: #111827;
    color: #fff;
    border-radius: 0.25rem;

    /* Position */
    bottom: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -8px);

    /* Displayed on top of other element */
    z-index: 10;
  }
}
