.articles {
  padding-bottom: 80px;
  &__posts {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  &__more {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
